.post-list 
    padding: 0
    margin: 0
    list-style: none

.post-list-item 
    margin-bottom: 50px
    padding: 20px 0
    border-bottom: 1px solid #DADADA
    padding: 25px
    background: #fff
    border-bottom: 1px solid #dadada
    box-shadow: 0 1px 2px rgba(151, 151, 151, 0.58)


.post-time 
    font-size: 13px
    color: #727272


.post-title
    margin: 0 0 16px


.post-title-link 
    color: #242424


.post-meta 
    margin: 10px 0
    height: 14px
    line-height: 14px
    font-size: 13px
    overflow: hidden
    color: #DADADA


.article-category-list 
    position: relative
    display: inline
    list-style: none
    padding: 0 0 0 10px

    &:before 
        content: ''
        display: inline-block
        vertical-align: middle
        margin-right: 10px
        height: 10px
        width: 1px
        background: #DADADA
 
    
    li 
        display: inline
  
   
        
    


.article-tag-list
    overflow: hidden
    margin: 0 5px 0 0
    padding: 0
    
    li 
        display: inline-block
        margin: 0 8px 5px 0
    


.article-tag-list-link 
    display: inline-block
    padding: 0px 10px
    line-height: 20px
    font-size: 13px
    color: #727272
    background: #e8e8e8
    border-radius: 5px

    &:hover,
    &:active 
        font-size: 13px
        color: #fff
        background: #E040FB
    

.post-more 
    float: right
    display: block
    height: 32px
    line-height: 32px
    padding: 0 1.2em
    color: #fff !important
    background: #673AB7

    &:hover,
    &:active 
        background: #673AB7
    





@media screen and (max-width:760px) 
    .post-title 
        font-size: 20px
        line-height: 24px

    .post-more 
        height: 28px
        line-height: 28px
        font-size: 13px
  

    .post-list 
        padding-left: 16px
        padding-right: 16px



.read-more 
    color: #727272
    background: #e8e8e8
    border-radius: 20px
