<%- partial('common/head') %>
<body>
   <div id="container">
        <%- partial('common/header') %>
  <div id="main-wrap" class="position-relative" style="margin-top: 55px;">
      <div class="main-inner-content">
          <%- body %>
      </div>
  </div>
   </div>
</body>
</html>