
<div class="card widget">
    <div class="card-content">
        <div class="menu">
            <h3 class="menu-label">
			Portfolios
			</h3>
            <div class="field is-grouped is-grouped-multiline">
<ul class="article-tag-list">
<%
var tags = site.data.projectTags;
for (var i in tags.sort()) { 
%>	
    <li class="article-tag-list-item">
		<div class="level is-mobile">
            <div class="level-start">
                <div class="level-item">
                <a class="button is-size-7 is-light" href="#<%-tags[i]%>"><%- tags[i] %></a>
                </div>
            </div>
        </div>    
    </li>
<% } %>
            </div>
        </div>
    </div>
</div>


 