<div class="project-links">
  

    <% if (project.page) { %>
        <a class="project-link" href="<%- project.page %>" target="_blank" title="home page">
            <i class="fas fa-link" aria-hidden="true"></i>
        </a>
    <% } %>

    <% if (project.youtube) { %>
        <a class="project-link" href="<%- project.youtube %>" target="_blank" title="video">
            <i class="fab fa-youtube" aria-hidden="true"></i>
        </a>
    <% } %>
    <% if (project.github) { %>
        <a class="project-link" href="<%- project.github %>" target="_blank" title="github">
            <i class="fab fa-github" aria-hidden="true"></i>
        </a>
    <% } %>
    <% if (project.download) { %>
        <a class="project-link" href="<%- project.download %>" target="_blank" title="download executable">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
    <% } %>
</div>